.news {
  .news-post {
    padding: 5px;
    margin: 10px 0;

    .title {
      display: flex;

      align-items: baseline;
      justify-content: space-between;
      margin-top: 2px;
      margin-bottom: 4px;

      padding-left: 10px;
      padding-right: 10px;

      width: calc(100% + 20px);
      max-width: calc(100vw - 40px);
      transform: translateX(-10px);

      border-bottom: 1px solid red;

      h1 {
        margin: 0;
      }
    }

    .content {
      margin: 0 5px;
    }
  }

  .pagination {
    display: flex;
    justify-content: center;

    & > * {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      min-width: 15px;
      padding: 10px 5px;
      margin: 5px 3px;
      border: 1px #999 solid;
      border-radius: 5px;

      color: unset;
      text-decoration: none;
      font-size: 20px;

      background-color: #00000003;

      svg {
        width: 18px;
        height: 18px;
      }

      &[href]:hover {
        background-color: #0000001c;
        transform: translateY(1px);
      }

      &:not([href]) {
        color: #555;
        background-color: #EAEAEA;
      }
    }
  }
}
