nav {
  background-color: #C00;
  width: 100%;
  height: 60px;

  display: flex;
  margin: 0;

  #nav-mobile {
    display: none;
  }

  #nav-wrap {
    display: flex;
    margin: 0;

    a {
      display: flex;
      align-items: center;
      padding: 15px;

      color: white;
      text-decoration: unset;
      text-align: center;
      font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
      font-weight: 400;
      font-size: 1rem;

      cursor: pointer;
      user-select: none;

      svg {
        max-height: 30px;
        max-width: 30px;

        margin-right: 5px;
      }

      &:hover {
        background-color: #0000001e;
      }
    }

    &:first-child {
      svg {
        max-height: 40px;
        max-width: 40px;
        margin-right: 10px;
      }
    }
  }

  @media(max-width: 768px) {
    height: auto;
    min-height: 100px;

    flex-direction: column;

    #nav-wrap a {
      font-size: 1.5rem;
    }

    #nav-mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;

      max-height: 100px;

      > :first-child {
        height: 70px;
        width: 70px;
        margin: 20px;
      }

      .nav-hamburger {
        position: relative;
        height: 100px;
        width: 100px;

        svg {
          position: absolute;
          width: 50px;
          height: 50px;
          top: 25px;
          left: 25px;
          color: white;

          transition: opacity 300ms, rotate 300ms ease-in-out;

          &:last-child {
            opacity: 0;
          }
        }

        &.nav-toggled {
          svg {
            rotate: 180deg;

            &:first-child {
              opacity: 0;
            }

            &:last-child {
              opacity: 1;
            }
          }
        }

        &:hover {
          background-color: #0000001e;
        }
      }
    }

    #nav-wrap {
      flex-direction: column;
      max-height: 0;
      overflow: hidden;
      transition: 200ms ease-in;

      a {
        height: 40px;
        border-top: 1px black solid;

        svg {
          display: none;
        }

      }

      &.nav-toggled {
        overflow: unset;
        max-height: 1000px;
      }
    }
  }
}
